
/*fazendo a parte da narvbar(cor) */
nav{
    background-color: #034281;
    padding: 1rem auto;
    color: white;
} 
.nav-link {
    color: white;
    text-decoration: none;
}
/*mudando o fundo do corpo do site*/
 body {
        background: linear-gradient(#003366, #40E0D0);
    }

/* mudando a caixa de login */

.form-container {
    max-width: 400px;
    margin-top: 200px auto;
    margin: 200px auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
/* mudando o tom*/
.navbar-logo img {
    height: 40px;
    margin-right: 10px;
    display: flex;
    }

.btn-primary {
    background-color: #003366;
    border-color: #003366;
    }

.btn-primary:hover {
    transition: background-color 0.3s ease;
    background-color: #005599;
    }

.forgot-password {
    text-align: center;
    margin-top: 1rem;
    }

@media (min-width: 576px) {
    .form-container {
        max-width: 500px;
    }
    nav{
        background-color: #034281;
        padding: 1rem;
        color: white;
    }
}
