/* Define o estilo da classe "card", usada para exibir informações de cada membro da equipe */
.card {
  /* Adiciona uma sombra ao redor do card, criando um efeito visual de profundidade */
  box-shadow: 0 2px 4px 0 black;

  /* Define a largura máxima do card para 300px, evitando que fique muito grande */
  max-width: 300px;

  /* Centraliza o card automaticamente dentro do seu contêiner pai */
  margin: auto;

  /* Alinha o conteúdo (texto e elementos internos) ao centro */
  text-align: center;

  /* Arredonda as bordas do card em 3 pixels para um visual mais suave */
  border-radius: 3px;

  /*animacao com transicao do card */
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
  /*linkando a transicao quando usuario colocar o mouse em cima do card*/
.card:hover {
  transform: scale(1.03);
}

/* Define o estilo da classe "title", que normalmente se refere ao cargo do membro */
.title {
  /* Define a cor do texto como cinza */
  color: grey;

  /* Ajusta o tamanho da fonte para 18px, tornando-o mais legível */
  font-size: 18px;
}

/* Define o estilo para os links (<a>) da página */
a {
  /* Define o tamanho da fonte dos links como 20px, tornando-os mais visíveis */
  font-size: 20px;

  /* Define a cor do texto do link como preto */
  color: black;
}

/* Define o estilo para os botões e links quando o usuário passa o mouse sobre eles */
button:hover, a:hover {
  /* Reduz a opacidade para 70%, criando um efeito visual de "fade" quando o usuário interage */
  opacity: 0.5;
}
